@font-face {
  font-family: 'LINESeed';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeed';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: LINESeed, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 14px;
  }
}

.hidden {
  display: none !important;
}

html {
  background-color: rgb(245, 245, 245);
}

body {
  margin: 2rem;
}

table {
  border-collapse: collapse;
  border: solid .1rem black;
  text-align: center;
}

td {
  padding: .5rem;
  border: solid .1rem black;
}

button {
  font-family: LINESeed !important;
  font-size: 1rem;
}

input {
  font-family: LINESeed !important;
  font-size: 1rem;
}