:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.hidden {
  display: none !important;
}

table {
  border-collapse: collapse;
  border: solid .1rem black;
  text-align: center;
}

td {
  padding: .5rem;
  border: solid .1rem black;
}